@use "variables" as var;
@use "setting" as set;
@use "utility";



.shop {
  margin-bottom: 160px;
}

.shop__flex {
  display: flex;
  column-gap: 80px;
  @include set.mediaQuery(tab){
    flex-direction: column;
  }
}

.shop__img-box {
  width: 50%;
  @include set.mediaQuery(tab){
    width: 100%;
  }
}

.shop__descriptionArea {
  width: 50%;
  @include set.mediaQuery(tab){
    width: 100%;
  }
}

.shop__title {
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
}

.shop__description01 {
  margin-bottom: 40px;
  text-align: justify;
}

.shop__description02 {
  margin-bottom: 2.8rem;
  text-align: justify;
}

.product {
  background-color: rgba(186, 168, 162, 0.15);
  padding: 160px 0;
  width: 1366px;
  margin: 0 auto;
  max-width: 100%;
  @include set.mediaQuery(tab){
    padding: 96px 0;
  }
}


.product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 80px;
  text-align: center;

  @include set.mediaQuery(pc) {
    grid-template-columns: auto;
  }
}

.product__item {
  max-width: 100%;
  @include set.mediaQuery(pc) {
   margin-bottom: 48px;
  }
}

.product__img {
  margin-bottom: 16px;
}

.product__title {
  font-size: 2rem;
  margin-bottom: 16px;
}
.product__caption{
  margin-bottom: 16px;
}

.product__caption02{
  display: block;
  letter-spacing: normal;
}
.product__caption01{
  letter-spacing: normal;
  line-height: 16px;
}
.product__caption--mb44{
  margin-bottom: 40px;
}